{% extends "base.html" %}
{% block container %}
<div class="table-responsive">
    <table id="sample_data" class="table table-bordered table-hover text-nowrap">
    	<thead>
    		<tr>
    			<th>SampleName</th>
    			<th>DataSize</th>
    			<th>Download</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>SRP027383_known_fusion_event.txt</td>
    			<td>393K</td>
    			<td><a href="/static/SRP027383_known_fusion_event.txt"><span class="glyphicon glyphicon-cloud-download"></span></a></td>
    		</tr>
    	</tbody>
   	</table>
</div>
{% endblock %}